
@{
    decimal totalMobile = (decimal)ViewBag.totalMobile;
}

<div class="row">
    <div class="d-flex flex-column gap-3">
        <label> Total Mobile Sale:</label>
        <b> @totalMobile</b>
    </div>
</div>