
@{
    decimal totalInternet = (decimal)ViewBag.totalInternet;
}

<div class="row">
    <div class="d-flex flex-column gap-3">
         <label> Total Internet Sale :</label>
         <b> @totalInternet</b>
    </div>
</div>



