
@{
    decimal totalInternet = (decimal)ViewBag.totalInternet;
}

<div class="row">
    <div class="col-12">
         <label> Total Internet Sale :</label>
         <b> @totalInternet</b>
    </div>
</div>



